:host >>> .p-card-title{
	text-align: center;
}
:host >>> .p-card{
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4.48rem 5.27rem, rgba(0, 0, 0, 0.06) 0px 1.87rem 2.2rem, rgba(0, 0, 0, 0.05) 0px 1rem 1.17rem, rgba(0, 0, 0, 0.04) 0px 0.56rem 0.66rem, rgba(0, 0, 0, 0.03) 0px 0.29rem 0.35rem, rgba(0, 0, 0, 0.1) 0px 0px 0.8rem;
	border-radius: 2rem;
	border: 0.1rem solid rgb(227, 229, 231);
}
:host >>> fieldset {
	border: 0;
}
:host >>> .p-inputtext{
	width: 100%;
	margin-top: 1%;
	margin-bottom: 2%;
}
:host >>> .p-button{
	width: 100%;
	margin-top: 1%;
	margin-bottom: 2%;
}
:host >>> .separator::before, .separator::after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: rgb(227, 229, 231);
	margin-bottom: 1%;
}
:host >>> .separator{

	margin: 1.6rem 0px;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	-moz-box-align: center;
	align-items: center;
	gap: 1.5rem;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: rgb(140, 146, 156);
}
:host >>> .log-google-button a {
	border: 0.01rem solid rgb(204, 204, 204);
	border-radius: 0.3rem;
	background-color: transparent;
	text-align: left;
	font-size: 1.3rem;
	line-height: 2.4rem;
	display: flex;
	-moz-box-align: center;
	align-items: center;
	cursor: pointer;
	padding-left: 0.5rem;
}
.go-register{
	color: white;
	cursor: pointer;
	text-decoration: underline white; 
}
.log-google-button img{
	transform: scale(0.65);
}